.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.section {
  background-color: #f2f4f7;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 90vh;
  display: flex;
}

.image {
  width: 14.1rem;
  max-width: none;
}

.form-block {
  background-color: #fff;
  border: 1px #000;
  border-radius: 5px;
  width: 22.6rem;
  height: auto;
  min-height: 20.3rem;
  padding: 18px 17px 13px;
  box-shadow: 0 2px 7px #0003;
}

.form-block.dwdw {
  min-height: 14.4rem;
}

.form {
  width: 100%;
}

.heading {
  color: #3f3f3f;
  text-align: center;
  letter-spacing: -.8px;
  margin-top: 4px;
  margin-bottom: 17px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.text-field {
  color: #1f1f1f;
  letter-spacing: -.2px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  height: 47px;
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.text-field:focus {
  border-width: 2px;
  border-color: #000;
}

.ms-input-wrap {
  margin-bottom: 12px;
  padding: 0;
  display: flex;
  position: relative;
}

.ms-input {
  color: #121331;
  background-color: #fff;
  border: 1px solid #12133140;
  border-radius: 5px;
  min-height: 40px;
  margin-bottom: 0;
  padding: 8px 12px;
  transition: box-shadow .2s, border-color .2s;
  position: relative;
  box-shadow: 0 5px 10px -5px #0000001a;
}

.ms-input:hover {
  z-index: 2;
  box-shadow: none;
  border-color: #2962ff;
}

.ms-input::placeholder {
  color: #909090;
}

.ms-input.text-field:focus {
  border-color: #000;
}

.ms-password-wrap {
  z-index: 4;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.ms-password-wrap.show {
  display: flex;
}

.ms-password-button {
  background-color: #fff0;
  padding: 0 7px 0 6px;
  font-size: 13.5px;
  display: flex;
  bottom: 5px;
}

.ms-password-button.w--current {
  display: none;
}

.ms-eye-svg {
  justify-content: center;
  align-items: center;
  width: 16px;
  margin-right: 4px;
  display: flex;
}

.ms-hide {
  display: none;
}

.tabs-menu {
  margin-top: 10px;
}

.text-block, .text-block-2 {
  display: none;
}

.submit-button {
  color: #fff;
  letter-spacing: -.9px;
  background-color: #1877f2;
  border-radius: 6px;
  width: 100%;
  height: 48px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.link {
  color: #1877f2;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 11px;
  text-decoration: none;
  display: flex;
}

.div-block {
  background-color: #d4d4d4;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;
  margin-top: 16px;
  display: flex;
  position: relative;
}

.text-block-3 {
  color: #8a8a8a;
  background-color: #fff;
  padding-left: 3px;
  padding-right: 3px;
}

.div-block-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.button {
  background-color: #42b72a;
  border-radius: 7px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 46px;
  margin-bottom: 7px;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
  font-weight: 600;
  display: flex;
}

.section-2 {
  width: 100%;
  min-height: 15rem;
}

.container {
  border-bottom: 1px solid #b8b8b8;
  justify-content: flex-start;
  align-items: flex-end;
  width: 80%;
  max-width: none;
  min-height: 148px;
  padding-bottom: 9px;
  display: flex;
}

.container.sqs {
  border-bottom-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: auto;
  margin-top: 14px;
  display: block;
}

.text-block-4 {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  color: #6b6b6b;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-block-4.dwd {
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-block-4.dwd.dwdww {
  margin-top: 16px;
}

.lamzo {
  color: #888;
  font-size: 11px;
  text-decoration: none;
}

.sign.mob {
  display: none;
}

@media screen and (max-width: 479px) {
  .section {
    min-height: 101vh;
  }

  .section.desko {
    display: none;
  }

  .form-block {
    width: 99%;
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  .section-2.desk {
    display: none;
  }

  .container {
    width: 99%;
  }

  .text-block-4 {
    flex-flow: wrap;
  }

  .text-block-4.dwd {
    justify-content: center;
    align-items: flex-start;
  }

  .sign.mob {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0;
    display: flex;
  }

  .sign.mob.de {
    justify-content: center;
    align-items: center;
  }

  .body {
    background-image: linear-gradient(106deg, #fff8f2, #f9f1fc 14%, #eff8ff 42%);
  }

  .div-block-3 {
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 63px;
    margin-bottom: 35px;
    padding: 0;
    display: flex;
  }

  .text-block-5 {
    font-family: Lato, sans-serif;
    font-weight: 400;
  }

  .form-block-2 {
    width: 90%;
    margin-top: 42px;
  }

  .form-block-2.r3r {
    margin-top: 0;
  }

  .image-2 {
    width: 50px;
    max-width: none;
  }

  .image-2.lwl {
    border-radius: 11px;
    width: 90%;
  }

  .form-2 {
    margin-top: 33px;
  }

  .form-2._3r {
    margin-top: 11px;
  }

  .mbf {
    color: #222;
    border: 1px solid #979797;
    border-radius: 9px;
    height: 45px;
    font-family: Ubuntu, Helvetica, sans-serif;
  }

  .mbf::placeholder {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: 500;
  }

  .submit-button-2 {
    background-color: #0064e0;
    border-radius: 9000px;
    width: 100%;
    height: 41px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
  }

  .text-block-6 {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
  }

  .text-block-6.xs {
    width: 90%;
    margin-bottom: 9px;
    line-height: 1.4;
  }

  .button-2 {
    margin-top: auto;
  }

  .button-2.submit-button-2 {
    color: #0064e0;
    text-align: center;
    background-color: #0064e000;
    border: 1px solid #0064e0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 12px;
    font-weight: 600;
    display: flex;
  }

  .image-3 {
    width: 1.4rem;
    max-width: none;
    margin-bottom: 11px;
  }

  .image-3.sw {
    margin-top: auto;
  }

  .text-span {
    color: #1171ee;
  }

  .heading-2 {
    width: 90%;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 1;
  }
}
